<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div>
    <a href="{% url 'home'%}">
            <botum> 
            Главнвя
        </botum>
    </a>
    
     <a href="{% url 'registr'%}">
        <botum>
        Регистрация
    </botum>
    </a>
    <a href="{% url 'log_in'%}">
        <botum>
        login
    </botum>
    </a>
    <a href="{% url 'log_out'%}">
        <botum>
        logout
    </botum>
    </a>

</div>
<div>
    {% for hotel in hotels %}
    {{ hotel }}<br>
    
    
{% endfor %}
</div>

<h1>{{ request.user.username }}</h1>

</body>
</html>